*{
    font-family: 'Noto Sans KR', sans-serif;
}

body, h1, h2{
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
}

h2{
  font-size: 20px;  
  color: rgb(53, 53, 53);
  font-weight: lighter;
  border-bottom: 1px solid #909090;
  padding-bottom: 5px;
}

.mainbox{
    width: 610px;
    border: 1px solid #909090;
    padding: 30px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 15px 1px black;
}

.name-txt{
    font-size: 11px;
    color: rgb(182, 182, 182);
    font-weight: bold;

}

.about-me-txt{
    font-size: 11px;
    line-height: 16px;
}

.title-txt{
    font-size: 11px;
    font-weight: bold;
    color: #282828;
    float: left;
}

.year-txt{
    font-size: 11px;
    font-weight: bold;
    color: #282828; 
    float: right;
}

.float-wrap{
overflow: hidden;
}

footer {
    text-align: center;
    background-color: #1e1e1e;
    color: #919191;
    font-size: 14px;
    padding: 15px;
}

section{
    margin-bottom: 24px;
}

.title-box{
    text-align: right;
}

.desc-txt{
    font-size: 11px;
}

.desc-subtxt{
    font-size: 9px;
    color: #282828;
}

.sns-wrap{
    text-align: right;
}

.sns-img{
    width: 15px;
    height: 15px;
}